body {
    background-color:#8e44ad;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family:Cooper;
     
}
span{
    display: inline-block;
    padding: 5px 5px;
    margin-left: 7px;
    margin-top: 1px;
}

