body {
    background-color:#8e44ad;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family:Cooper;
     
}
span{
    display: inline-flexbox;
    padding: 15px 30px

}